{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('catalogue') }}
{% endblock %}

{% block body %}
	<h1 class="hometitle text-center">Parcourez votre</h1>
	<h1 class="hometitle text-secondary text-center">catalogue</h1>
	<section class="container-fluid">
		<div class="row gap-5 justify-content-center">
			{% for game in games %}
				<div class="col-sm-6 col-md-4 col-lg-2 card card-platform bg-dark">
					<img class="img-responsive rounded h-50" src="{{ game.background_image }}" alt="Image de PC">
					<div class="card-body d-flex flex-column justify-content-around ">
						<h3 class="card-title text-center">{{game.name}}</h3>
						<p>Genre : {{game.genres[0]['name']}}</p>
						<p>Sortie : {{game.released}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>{% endblock %}
