{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('catalogue') }}
{% endblock %}

{% block body %}
	<h1 class="hometitle text-center mt-4">Nos jeux du genre :</h1>
	<h1 class="hometitle text-secondary text-center mb-5">{{ genre.title }}</h1>
	<section class="container-fluid mb-5">
		<div class="row gap-5 justify-content-center">
			{% for game in games %}
				<div class="col-11 col-md-4 col-lg-2 card card-platform p-0 bg-dark">
					<img class="img-responsive rounded-top h-75" src="{{ game.image }}" alt="Image du jeu">
					<div class="card-body d-flex flex-column justify-content-around ">
						<a href="{{ path('catalogue_show', {id: game.id}) }}" class="game-title text-center">{{game.title}}</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>{% endblock %}